<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="Personal, Portfolio, Creative,Design"
    />
    
    <meta name="author" content="cosmos-themes" />

    <title>TGD開発</title>

    <!-- favicon -->
    <link href="#" rel="icon" type="image/png" />

    <!--Font Awesome css-->
    <link rel="stylesheet" href="assets template/css/fontawesome-all.css" />

    <!--Bootstrap css-->
    <link
      rel="stylesheet"
      href="assets template/bootstrap-4.3.1-dist/css/bootstrap.css"
    />

    <!--Owl Carousel css-->
    <link rel="stylesheet" href="assets template/css/owl.carousel.min.css" />
    <link
      rel="stylesheet"
      href="assets template/css/owl.theme.default.min.css"
    />

    <!--Magnific Popup css-->
    <link rel="stylesheet" href="assets template/css/magnific-popup.css" />
    <link rel="stylesheet" href="assets template/css/animate.min.css" />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800,900%7cOpen+Sans:400,600,700,800"
      rel="stylesheet"
    />

    <!--Add FontAwesome-->
    <link
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
  </head>
  <body>
      <header class="header">
          <a href="" class="title">TGD</a>
          <nav class="navbar navbar-expand-sm navbar-light">
            <div id="menu" class="collapse navbar-collapse">
              <ul class="navbar-nav">
                <li class="navbar-item">
                  <%= link_to 'プラン作成', new_plan_path %>
                </li>
                <li class="navbar-item">
                  <a href="" class="nav-link">ログアウト</a>
                </li>
              </ul>
            </div>
          </nav>
      </header>
    <% @plans.each do |plan| %>
      <div class = "wrap">
        <div class = "plan_create">
          <%= link_to plan do %>
              <div class="memory">
                <h3>思い出</h3>
                <p>内容</p>
                <div class="content">
                  <h3><%= plan.text %></h3>
                  <%= image_tag 'image.jpg'%>
                </div>
              </div>
          <%end%>
        </div>
      </div>
    <%end%>  
  </body>
</html>

